@import 'src/styles/utils';

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 0 10px;
  h1 {
    margin: 0;
  }
}

.no-jobs-container {
  text-align: center;
  margin-top: 100px;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}
