<div nz-row nzJustify="space-between">
  <h2>Jobs</h2>
  <div>
    <button [nzLoading]="isLoading" (click)="onReload()" nz-button>Reload</button>
    <button class="ml-1" routerLink="/jobs/create" nz-button nzType="primary">Create job</button>
  </div>
</div>
<ng-container *ngIf="jobs$ | async as jobs">
  <ng-container *ngIf="jobs.length; else noJobs"></ng-container>
  <div [ngClass]="{ 'mt-2': !first }" *ngFor="let job of jobs; let first = first">
    <app-job-card (editClicked)="onEdit(job)" (deleteClicked)="onDelete(job)" [job]="job"></app-job-card>
  </div>
  <ng-template #noJobs>
    <nz-empty nzNotFoundContent="No jobs." [nzNotFoundFooter]="footerTpl">
      <ng-template #footerTpl>
        <button nz-button routerLink="/jobs/create">Create one</button>
      </ng-template>
    </nz-empty>
  </ng-template>
</ng-container>
