<div class="flex-space-between">
  <h2 nz-col>Jobs</h2>
  <button routerLink="/create" nz-col nz-button nzType="primary">Create job</button>
</div>
<ng-container *ngIf="jobs$ | async as jobs">
  <ng-container *ngIf="jobs.length; else noJobs"></ng-container>
  <div [ngClass]="{ 'mt-2': !first }" *ngFor="let job of jobs; let first = first">
    <app-job-card (editClicked)="onEdit(job)" (deleteClicked)="onDelete(job)" [job]="job"></app-job-card>
  </div>
  <ng-template #noJobs>
    <nz-empty [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl> No jobs. </ng-template>
    </nz-empty>
  </ng-template>
</ng-container>
