@import 'src/styles/utils';

mat-icon {
  font-size: 20px;
}

mat-card {
  position: relative;
}

mat-card-content {
  margin-bottom: 0px;
}

pre {
  font-size: 13px;
}

.card-container {
  display: grid;
  gap: 10px;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-title {
  font-size: 1rem;
}

#btnDelete {
  position: absolute;
  top: 5px;
  right: 45px;
}

#btnEdit {
  position: absolute;
  top: 5px;
  right: 5px;
}
