<mat-card *ngIf="job; else noJob" class="mt-1 mat-elevation-z4">
  <mat-card-title>{{ job.name }}</mat-card-title>
  <mat-card-content>
    <pre>{{ job | json }}</pre>
    <span class="mat-body-strong">API: </span> {{ job.url }}
    <button [cdkCopyToClipboard]="job.url" mat-icon-button>
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-card-content>
  <button (click)="onDelete()" id="btnDelete" mat-icon-button>
    <mat-icon> delete_outline </mat-icon>
  </button>
  <button (click)="onEdit()" id="btnEdit" mat-icon-button>
    <mat-icon>create_outline</mat-icon>
  </button>
</mat-card>

<ng-template #noJob> No job passed to job-card component. </ng-template>
