<nz-card nzBorderless>
  <div nz-row nzJustify="space-between">
    <button nzType="text" routerLink="/" nz-button>
      <i nz-icon nzType="arrow-left"></i>
    </button>
    <div>
      <button [disabled]="metainformationGroup.valid" (click)="onCheckMetainformationValidity()" nz-button>
        <i nz-icon nzType="file-search"></i>
      </button>
      <button [nzLoading]="isLoading" class="ml-1" [disabled]="metainformationGroup.invalid" (click)="onSubmit()" nz-button nzType="primary">
        {{ job ? 'Save' : 'Create' }}
      </button>
    </div>
  </div>

  <nz-divider nzOrientation="left" nzText="Metainformation"></nz-divider>
  <form spellcheck="false" nzLayout="vertical" [formGroup]="metainformationGroup" nz-form>
    <nz-form-item>
      <nz-form-label nzNoColon [nzSpan]="3" nzRequired>Job name</nz-form-label>
      <nz-form-control nzErrorTip="Please provide a name">
        <input placeholder="My Job #42" nz-input type="text" formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzNoColon nzTooltipTitle="The URL of the page you want to scrape" [nzSpan]="3" nzRequired>URL</nz-form-label>
      <nz-form-control nzErrorTip="Please provide a URL">
        <input nz-input placeholder="https://wikipedia.org" formControlName="url" />
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-divider nzOrientation="left" nzText="Selectors"></nz-divider>
  <p nz-typography nzType="secondary">Specify the name of the data you want to scrape and the CSS selector of the corresponding HTML element.</p>
  <nz-descriptions class="mb-2" *ngIf="selectors.length" nzSize="small" nzBordered>
    <nz-descriptions-item [nzTitle]="selector.name" *ngFor="let selector of selectors" nzSpan="3">
      <div nzJustify="space-between" style="align-items: center;" nz-row>
        <span nz-col nzSpan="20">
          {{ selector.cssSelector }}
        </span>
        <button (click)="onRemoveSelector(selector)" nz-col nz-button nzType="text">
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </nz-descriptions-item>
  </nz-descriptions>
  <form spellcheck="false" nzLayout="vertical" [formGroup]="selectorGroup" nz-form>
    <nz-form-item>
      <nz-form-label nzNoColon nzRequired>Data name</nz-form-label>
      <nz-form-control nzErrorTip="Please provide a name">
        <input placeholder="wikiTitle" nz-input type="text" formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzNoColon [nzSpan]="3" nzRequired>CSS selector</nz-form-label>
      <nz-form-control nzErrorTip="Please provide a CSS selector">
        <input nz-input placeholder="#www-wikipedia-org > div.central-textlogo > h1 > span" formControlName="cssSelector" />
      </nz-form-control>
      <span style="margin-top: 2px;" nz-typography nzType="secondary">
        We'll use the CSS selector like this
        <a target="_blank" href="https://github.com/Kexplx/scrape-app/blob/master/api/src/job.ts#L53-L86">(source)</a>:
        <code>document.querySelector(YOUR_CSS_SELECTOR).textContent</code>
      </span>
    </nz-form-item>
    <div nzJustify="end" nz-row>
      <button type="button" nzType="text" [disabled]="selectorGroup.valid" (click)="onCheckSelectorFormValidity()" nz-button>
        <i nz-icon nzType="file-search"></i>
      </button>
      <button type="button" class="ml-1" [disabled]="selectorGroup.invalid" (click)="onAddSelector()" nz-button>Add</button>
    </div>
  </form>

  <nz-divider nzOrientation="left" nzText="Execution times"></nz-divider>
  <p nz-typography nzType="secondary">Add execution times to specify when this job should execute. For example, [Monday, 8, 25] will execute the job <strong>every</strong> monday at 8:25 AM.</p>
  <nz-descriptions *ngIf="executionTimes.length" class="mb-2" nzSize="small" nzBordered>
    <nz-descriptions-item *ngFor="let executionTime of executionTimes" [nzSpan]="3" [nzTitle]="executionTime.dayOfWeek | weekday">
      <div nzJustify="space-between" style="align-items: center;" nz-row>
        <span nz-col nzSpan="20"> {{ executionTime.hour | zeroprefix }}:{{ executionTime.minute | zeroprefix }} </span>
        <button (click)="onRemoveExecutionTime(executionTime)" nz-col nz-button nzType="text">
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </nz-descriptions-item>
  </nz-descriptions>
  <form spellcheck="false" nzLayout="vertical" [formGroup]="executionTimeGroup" nz-form>
    <div nz-row>
      <nz-form-item nz-col nzSpan="12">
        <nz-form-label nzNoColon nzRequired>Weekday</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="dayOfWeek">
            <nz-option [nzValue]="1" nzLabel="Monday"></nz-option>
            <nz-option [nzValue]="2" nzLabel="Tuesday"></nz-option>
            <nz-option [nzValue]="3" nzLabel="Wednesday"></nz-option>
            <nz-option [nzValue]="4" nzLabel="Thursday"></nz-option>
            <nz-option [nzValue]="5" nzLabel="Friday"></nz-option>
            <nz-option [nzValue]="6" nzLabel="Saturday"></nz-option>
            <nz-option [nzValue]="0" nzLabel="Sunday"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="pl-1" nz-col nzSpan="6">
        <nz-form-label nzRequired>Hour</nz-form-label>
        <nz-form-control>
          <nz-input-number [nzMax]="24" [nzMin]="0" style="width: 100%;" formControlName="hour"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="pl-1" nz-col nzSpan="6">
        <nz-form-label nzRequired>Minute</nz-form-label>
        <nz-form-control>
          <nz-input-number [nzMax]="59" [nzMin]="0" style="width: 100%;" formControlName="minute"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row nzJustify="end">
      <button (click)="onAddExecutionTime()" nz-button>Add</button>
    </div>
  </form>
</nz-card>
