<nz-collapse>
  <nz-collapse-panel nzHeader="Metainformation" nzActive>
    <form nzLayout="vertical" [formGroup]="metainformationGroup" nz-form>
      <nz-form-item>
        <nz-form-label nzNoColon [nzSpan]="3" nzRequired>Name</nz-form-label>
        <nz-form-control nzErrorTip="Please provide a name">
          <input placeholder="My Job #42" nz-input type="text" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzNoColon nzTooltipTitle="The URL of the page you want to scrape" [nzSpan]="3" nzRequired>URL</nz-form-label>
        <nz-form-control nzErrorTip="Please provide a URL">
          <textarea nz-input placeholder="https://wikipedia.org" rows="2" formControlName="url"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Selectors">
    <form nzLayout="vertical" [formGroup]="selectorGroup" nz-form>
      <nz-form-item>
        <nz-form-label nzNoColon nzRequired>Property name</nz-form-label>
        <nz-form-control nzErrorTip="Please provide a name">
          <input placeholder="My Job #42" nz-input type="text" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzNoColon nzTooltipTitle="The URL of the page you want to scrape" [nzSpan]="3" nzRequired>CSS selector</nz-form-label>
        <nz-form-control nzErrorTip="Please provide a URL">
          <textarea nz-input placeholder="#www-wikipedia-org > div.central-textlogo > h1 > span" rows="2" formControlName="cssSelector"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Execution times">
    <form nzLayout="vertical" [formGroup]="executionTimeGroup" nz-form>
      <div nz-row nzJustify="space-around">
        <nz-form-item nzOffset="1" nz-col nzSpan="14">
          <nz-form-label nzNoColon nzRequired>Day of week</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="dayOfWeek">
              <nz-option [nzValue]="1" nzLabel="Monday"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Tuesday"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Wednesday"></nz-option>
              <nz-option [nzValue]="4" nzLabel="Thursday"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Friday"></nz-option>
              <nz-option [nzValue]="6" nzLabel="Saturday"></nz-option>
              <nz-option [nzValue]="0" nzLabel="Sunday"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="4">
          <nz-form-label>Hour</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="hour" type="number" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="4">
          <nz-form-label>Minute</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="minute" type="number" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>

<div nz-row nzJustify="space-between" class="mt-1">
  <button nz-col routerLink="/create" nz-button>Cancel</button>
  <button nz-col *ngIf="metainformationGroup.valid" (click)="onSubmit()" nz-button nzType="primary">Submit</button>
  <button nz-col *ngIf="metainformationGroup.invalid" (click)="onCheckValidity()" nz-button>Check validity</button>
</div>
